{% extends "tovarsview/base.html" %}

{% block title %}<title>Изменить пароль.</title>{% endblock %}


{% block page %}


            <section>
			<header class="major">
				<h3>Забыли пароль?</h3>
			</header>
                <article>
                    {% if validlink %}
                    <h3>Изменить пароль</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Сменить пароль</button>
                    </form>
                    {% else %}
                    <p>
                        Ссылка восстановления не верна. Возможно истек срок действия.
                        Пожалуйста, начните процедуру <a href="/password_reset/" rel="nofollow">восстановления пароля</a> сначала.
                    </p>
                    {% endif %}

                </article>

            </section>


{% endblock %}