{% extends "tovarsview/base.html" %}

{% block title %}<title>Письмо с воостановлением отправлено.</title>{% endblock %}


{% block page %}


            <section>
			<header class="major">
				<h3>Письмо отправлено</h3>
			</header>
                <article><p>Мы выслали инструкции для восстановления вашего пароля. Скоро вы получите письмо на указанный Email.</p>
                    <p>Если вы не получили письмо, пожалуйста проверьте корректность указанного Email. Также проверьте папку Спам.</p>
                </article>
            </section>


{% endblock %}