{% extends "tovarsview/base.html" %}

{% block title %}<title>Изменить пароль.</title>{% endblock %}


{% block page %}


            <section>
			<header class="major">
				<h3>Процедура восстановления пароля</h3>
			</header>
                <article>

                    <p>
                        Процедура восстановления пароля завершена.</p>
                    <p>   Теперь вы можете <a href="/login/" rel="nofollow">войти</a>.</p>


                </article>

            </section>


{% endblock %}