{% extends "tovarsview/base.html" %}

{% block title %}<title>Забыли пароль? Сбросить пароль.</title>{% endblock %}


{% block page %}


            <section>
			<header class="major">
				<h3>Забыли пароль?</h3>
			</header>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Выслать письмо для восстановления</button>
                </form>

            </section>


{% endblock %}