{% extends "tovarsview/base.html" %}

{% block title %}<title>{{ article.name }}.</title>{% endblock %}

	{% block description %}<meta name="description" content="{{ article.pagedescription }}" />{% endblock %}
	{% block keyword %}<meta name="keywords" content="{{ article.pagekeywords }}" />{% endblock %}

	{% block canonical_url %}<link rel="amphtml" href="https://{{ request.get_host }}{{ request.get_full_path }}amp/" />{% endblock %}

{% block page %}

            {% include "tovarsview/box.html" %}


                    {% if his_tovars %}
            <section>
			<header class="major">
				<h2>{{ article.name }}. Выбираем:</h2>
			</header>
			<div class="posts" itemscope itemtype="https://schema.org/Product">

                {% for row in his_tovars %}

                    {% include "tovarsview/box_mansory.html" %}

                {% endfor %}

            </div>
            </section>
                    {% endif %}


            <h3>Написать комментарий</h3>
            <div class="box">
            <div class="box-comment">

                <form method="post" action="{% url 'add_comment' article.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="bluefon" type="submit" />
                </form>



            </div>
            </div>

            {% for comment in comments %}

            <div class="box">
                <div class="box-comment">{{ comment.author }} <span class="greytxt">{{ comment.pub_date }}</span></div>
                <p>{{ comment.content }}</p>
            </div>
            {% empty %}
            <p>Никто еще не оставил комментарий</p>
            {% endfor %}








{% endblock %}