<!doctype html>
<html amp lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ article.name }}.</title>

    <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path|slice:'-4' }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
      h1 {color: red}
    </style>
    <!--<script type="application/ld+json">-->
    <!--{-->
      <!--"@context": "http://schema.org",-->
      <!--"@type": "NewsArticle",-->
      <!--"headline": "Article headline",-->
      <!--"image": [-->
        <!--"thumbnail1.jpg"-->
      <!--],-->
      <!--"datePublished": "2015-02-05T08:00:00+08:00"-->
    <!--}-->
    <!--</script>-->
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body>
    <h1>{{ article.name }}</h1>

    {% if article.picturl %}
    <amp-img src="{{ article.picturl }}" width=300 height=300></amp-img>
    {% else %}
    <p>{{ article.name }}</p>
    {% endif %}

    {% if article.videourl %}
    <amp-youtube width="480"
                 height="270"
                 layout="responsive"
                 data-videoid="{{ article.videourl|cut:'https://www.youtube.com/embed/' }}">

    </amp-youtube>
    {% endif %}

    {% if article.pagetext %}
    {% autoescape off %}
    {{ article.pagetext|linebreaks }}
    {% endautoescape %}
    {% endif %}


    <amp-carousel class="carousel2" layout="responsive" height="400" width="500" type="slides">

                {% for row in his_tovars %}
  <div class="slide">

    {% if row.available == True %}
    <a href="{{ row.url_shop }}" rel="nofollow"><amp-img src="{{ row.picturl }}" layout="fill" alt="купить {{ row.name }}"></amp-img></a>
    <amp-fit-text layout="responsive" width="500" height="150">
      Купить <a href="{{ row.url_shop }}" rel="nofollow">в магазине</a>
    </amp-fit-text>
      {% else %}
    <amp-img src="{{ row.picturl }}" layout="fill" alt="купить {{ row.name }}"></amp-img>
    <amp-fit-text layout="responsive" width="500" height="150">
      Товара нет в наличии!</p>
    </amp-fit-text>
      {% endif %}

  </div>
                {% endfor %}
    </amp-carousel>


<amp-ad width="100vw" height=320
  type="adsense"
  data-ad-client="ca-pub-2165614546639327"
  data-ad-slot="8833187282"
  data-auto-format="rspv"
  data-full-width>
    <div overflow></div>
</amp-ad>
  </body>
</html>