                <!-- box -->
                <section>
                    <header class="main">
                        <h1>{{ article.name }}</h1>
                    </header>

                    {% if article.picturl %}
                    <span class="image main">
                        <img src="{{ article.picturl }}" alt="{{ article.name }}" title="Картинка к статье {{ article.name }}. " />
                    </span>
                    {% else %}
                    <p>{{ article.name }}</p>
                    {% endif %}

                    {% if article.picturlfrom %}
                    <small>(Изображение: <a href="{{ article.picturlfrom }}" rel="nofollow">{{ article.picturlfrom }}</a>)</small>
                    {% endif %}

                    {% if article.videourl %}
                    <hr class="major" />
                    <h2>Видео по теме статьи</h2>
                    <br />	<div class="video-wrapper"><div class="video-container"><iframe width="560" height="315" src="{{ article.videourl }}"></iframe></div></div>
                    {% endif %}



                    {% if article.pagetext %}
                    <hr class="major" />
                    <h2>{{ article.name }}</h2>
                    {% autoescape off %}
                    {{ article.pagetext|linebreaks }}
                    {% endautoescape %}
                    {% endif %}

                </section>