                    <article>
					<a href="/tovary/{{ row.slug }}/" class="image">
                        {% if row.picturl %}
                        <img src="{{ row.picturl }}" alt="купить {{ row.name }}" title="На картинке фотография {{ row.name }}. Кликнув на картинку Вы попадете на страницу с подробным описанием товара." />
                    </a>
                        {% else %}
                        {{ row.name }}
                        {% endif %}
					<h3><span itemprop="name">{{ row.name }}</span></h3>

                        {% if row.available == True %}
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <p>Цена: <span class="redtxt" itemprop="price"> {{ row.price }} </span>
                                <span itemprop="priceCurrency" content="RUR"> руб. </span>
                            </p>
                        </div>
                        {% endif %}

                        {% if row.description %}

                        <p><span itemprop="description">{% autoescape off %}{{ row.description|truncatewords:"12" }}{% endautoescape %}</span><a href="/tovary/{{ row.slug }}/">подробнее</a></p>
                        {% endif %}

                        {% if row.available == True %}
                        <ul class="actions">
                            <li><a href="{{ row.url_shop }}" class="button" rel="nofollow">В магазин</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="/delete/{{ row.id }}" class="button" rel="nofollow">Удалить</a></li> <!-- differ box_mansory this line-->
                            {% endif %}
                        </ul>
                        {% else %}
                        <p>Товара нет в наличии!</p>
                        <ul class="actions">

                            {% if user.is_authenticated %}
                            <li><a href="/delete/{{ row.id }}" class="button" rel="nofollow">Удалить</a></li> <!-- differ box_mansory this else-->
                            {% endif %}
                        </ul>
                        {% endif %}
                    </article>