                    <article>
					<a href="/tovary/{{ row.slug }}/" class="image">
                        {% if row.picturl %}
                        <img src="{{ row.picturl }}" alt="купить {{ row.name }}" title="На картинке фотография {{ row.name }}. Кликнув на картинку Вы попадете на страницу с подробным описанием товара." />
                        {% else %}
<!--                        <img src="/static/tovarsview/no_foto.png" alt="купить {{ row.name }}" title="Нет фото товара {{ row.name }}. Кликнув, Вы попадете на страницу с подробным описанием товара." />-->
                        {{ row.name }}
                        {% endif %}
                     </a>
					<strong><span itemprop="name">{{ row.name }}</span></strong>

                        {% if row.available == True %}
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <p>Цена: <span class="redtxt" itemprop="price"> {{ row.price }} </span>
                                <span itemprop="priceCurrency" content="RUR"> руб. </span>
                            </p>
                        </div>
                        {% endif %}

                        {% if row.description %}

                        <p><span itemprop="description">{% autoescape off %}{{ row.description|truncatewords:"12" }}{% endautoescape %}</span><a href="/tovary/{{ row.slug }}/">подробнее</a></p>
                        {% endif %}

                        {% if row.available == True %}
                        <ul class="actions">
                            <li><a href="{{ row.url_shop }}" class="button" rel="nofollow">В магазин</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="/takein/{{ row.id }}" class="button" rel="nofollow">Отложить</a></li>
                            {% endif %}
                        </ul>
                        {% else %}
                        <p>Товара нет в наличии!</p>
                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                            <p>Последняя цена: <span itemprop="price">{{ row.price }}</span>
                                <span itemprop="priceCurrency" content="RUR"> руб. </span></p>
                        </div>
                        {% endif %}

                    </article>