{% extends "tovarsview/base.html" %}


{% block page %}


<!-- Banner  (not done) -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Мониторы в авто:<br />
                выбрать и купить в интернет-магазине</h1>
            <p>tvvauto.ru - сервис продажи телевизоров и мониторов в авто</p>
        </header>
        {% if index_article %}
        {% autoescape off %}
        {{ index_article.pagetext|linebreaks|truncatewords:"60" }}
        {% endautoescape %}
        <ul class="actions">
            <li><a href="/articles/{{ index_article.slug }}/" class="button big">Читать дальше</a></li>
        </ul>
        {% endif %}
    </div>
    {% if index_article %}
    <span class="image object">
        <img src="{{ index_article.picturl }}" alt="tvvauto.ru Москва. Мониторы и телевизоры в автомобиль." />
    </span>
    {% endif %}
</section>




            <section>
			<header class="major">
				<h2>Популярные товары сегодня:</h2>
			</header>
			<div class="posts" itemscope itemtype="https://schema.org/Product">

                {% for row in all_tovars %}

                    {% include "tovarsview/box_mansory.html" %}

                {% endfor %}

            </div>
            </section>


{% endblock %}