{% extends "tovarsview/base.html" %}

{% block title %}<title>
    {% if platform == 'search_tovars' %}Результаты поиска товаров {% endif %}
    {% if platform == 'proizvoditeli' %}Производители {% endif %}
    {% if platform == 'tovary' %}Список всех {% endif %}
    {% if platform == 'articles' %}Статьи по выбору {% endif %}
    мониторов в авто.</title>
{% endblock %}

{% block description %}
    {% if platform == 'search_tovars' %}<meta name="description" content="Результаты поиска товаров по сайту в виде списка." />{% endif %}
    {% if platform == 'proizvoditeli' %}<meta name="description" content="Список производителей мониторов и телевизоров в авто, товары которых можно купить перейдя по ссылкам в интернет-магазины." />{% endif %}
    {% if platform == 'tovary' %}<meta name="description" content="Список мониторов и телевизоров в авто со ссылками на описание товара с его характеристиками и изображением." />{% endif %}
    {% if platform == 'articles' %}<meta name="description" content="Список статей с рекомендациями по выбору для покупки мониторов и телевизоров в авто" />{% endif %}
{% endblock %}

{% block keyword %}
    {% if platform == 'search_tovars' %}<meta name="keywords" content="список, результат, поиск, товары" />{% endif %}
    {% if platform == 'proizvoditeli' %}<meta name="keywords" content="список, производители" />{% endif %}
    {% if platform == 'tovary' %}<meta name="keywords" content="список, товары" />{% endif %}
    {% if platform == 'articles' %}<meta name="keywords" content="список, статьи" />{% endif %}
{% endblock %}

{% block page %}



                <section>
                    <header class="major">
                        <h1>Список всех
                            {% if platform == 'search_tovars' %}товаров по результатам поиска{% endif %}
                            {% if platform == 'proizvoditeli' %}производителей мониторов{% endif %}
                            {% if platform == 'tovary' %}мониторов в авто{% endif %}
                            {% if platform == 'articles' %}статей-рекомендаций по мониторам{% endif %}
                        </h1>
                    </header>



                    <div class="features">


                        {% for row in listofall %}


                        <article>
						<!-- <span class="icon fa-signal"></span> -->
						<div class="content">
						<h3>{{ row.name }}</h3>
                            <p>
                                <a href="/{{ platform }}/{{ row.slug }}/" class="image">
                        {% if row.urlthumbnail %}
                        <span class="image left"><img src="{{ row.urlthumbnail }}" alt="{{ row.name }}" title="Картинка {{ row.name }}." /></span>
                        {% else %}
                        <strong>{{ row.name }}</strong>.
                        {% endif %}
                                </a>

                        {% if row.description %}
                                {% autoescape off %}
                                {{ row.description|truncatewords:"20" }}
                                {% endautoescape %}
                        {% endif %}

                        {% if row.pagetext %}
                                {% autoescape off %}
                                {{ row.pagetext|truncatewords:"20" }}
                                {% endautoescape %}
                        {% endif %}
                            </p>


                    <ul class="actions">
                        <li><a href="/{{ platform }}/{{ row.slug }}/" class="button">Подробнее</a></li>
                    </ul>

                        </div>
                        </article>

                    {% endfor %}


                        </div>

                    <div class="row 200%">
                        <div class="6u 12u$(medium)">

                            {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}" class="button">Предыдущая</a></li>
                                {% else %}
                                <li><span class="button disabled">Предыдущая</span></li>
                                {% endif %}


                         <!--       {% if page_obj.number <= 3 %} -->

                                {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                <li><a href="#" class="page active">{{ i }}</a></li>
                                {% else %}
                                <li><a href="?page={{ i }}" class="page">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                        <!--        {% endif %} -->

                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}" class="button">Следующая</a></li>
                                {% else %}
                                <li><span class="button disabled">Следующая</span></li>
                                {% endif %}

                            </ul>
                            {% endif %}


                        </div>
                    </div>

                </section>



{% endblock %}