{% extends "tovarsview/base.html" %}

    {% block title %}<title>Вход на сайт</title>{% endblock %}
	{% block description %}<meta name="description" content="Вход пользователя на сайте tvvauto.ru." />{% endblock %}
	{% block keyword %}<meta name="keywords" content="войти" />{% endblock %}

{% block page %}

{% if user.is_authenticated %}
            <H1>Вы в системе.</H1>

{% else %}
            <H1>Войти на сайт:</H1>

            {% if form.errors %}
            <p>Логин или пароль не верны. Попробуйте еще раз.</p>
            {% endif %}

            <form action="/login/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Войти</button>
            </form>
{% endif %}

<p>Забыли пароль или хотите его изменить? Перейдите по <a href="/password_reset/" class="button" rel="nofollow">ссылке для восстановления</a>.</p>


{% endblock %}