{% extends "tovarsview/base.html" %}

    {% block title %}<title>Регистрация</title>{% endblock %}
	{% block description %}<meta name="description" content="Регистрация пользователя на сайте tvvauto.ru." />{% endblock %}
	{% block keyword %}<meta name="keywords" content="зарегистрироваться" />{% endblock %}


{% block page %}


            <H1>Зарегистрироваться:</H1>

            {% if message %}
            <p>{{ message }}.</p>
            {% endif %}

            <form action="/register/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Зарегистрироваться</button>
            </form>


{% endblock %}

