{% extends "tovarsview/base.html" %}

    {% block title %}<title>Описание {{ this_tovar.name }}. По ссылке можно купить.</title>{% endblock %}

	{% block description %}<meta name="description" content="{{ this_tovar.name }} - описание и характеристики. Цена: {{ this_tovar.price }}. Производитель: {{ his_vendor.name }}." />{% endblock %}
	{% block keyword %}<meta name="keywords" content="{{ his_vendor.name }}, цена, автомобиль" />{% endblock %}


{% block page %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{ this_tovar.name }}</h1>
									</header>


                                    <div itemscope itemtype="https://schema.org/Product">
                                    <!-- <span class="image main"><img src="images/pic11.jpg" alt="" /></span> -->

                                        <span class="image right"><img itemprop="image" src="{{ this_tovar.picturl }}" alt="купить {{ this_tovar.name }}" title="На картинке изображение {{ this_tovar.name }}." /></span>

                                        <p><span itemprop="name">{{ this_tovar.name }}</span></p>
                                        <p>Производитель: <span itemprop="brand"><a href="/proizvoditeli/{{ his_vendor.slug }}/">{{ his_vendor.name }}</a></span></p>

                                        {% if this_tovar.description %}
                                        <div itemprop="description">{% autoescape off %}{{ this_tovar.description|linebreaks }}{% endautoescape %}</div>
                                        {% endif %}

                                        {% if this_tovar.available == True %}

                                        <ul class="actions">
                                            <li><a href="{{ this_tovar.url_shop }}" class="button" rel="nofollow">В магазин</a></li>
                                            {% if user.is_authenticated %}
                                            <li><a href="/takein/{{ this_tovar.id }}" class="button" rel="nofollow">Отложить</a></li>
                                            {% endif %}
                                        </ul>



                                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                            <p>Цена: <span itemprop="price">{{ this_tovar.price }}</span>
                                                <span itemprop="priceCurrency" content="RUR"> руб. </span></p>
                                        </div>
                                        {% else %}
                                        <p>Товара нет в наличии!</p>
                                        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                            <p>Последняя цена в каталоге: <span itemprop="price">{{ this_tovar.price }}</span>
                                                <span itemprop="priceCurrency" content="RUR"> руб. </span></p>
                                        </div>
                                        {% endif %}

                                    </div>

								</section>

{% endblock %}