{% extends "tovarsview/base.html" %}

{% block title %}<title>Профиль пользователя {{ user.username }}.</title>{% endblock %}


{% block page %}

                <!-- box -->
                <section>
                    <header class="main">
                        <h1>Привет {{ user.username }}</h1>
                    </header>

                </section>



            <section>
                 {% if user.is_authenticated %}
                <header class="major">
                    <h2>Редактировать профиль:</h2>
                </header>
                <article>
                    <ul class="actions">
                        <li><a href="/password_reset/" class="button" rel="nofollow">Изменить пароль</a></li>
                        <li><a href="/del_user/{{ user.username }}" class="button" rel="nofollow">Удалить профиль</a></li>
                    </ul>
                </article>
                {% else %}
                <header class="major">
                    <h2>Вы не в системе:</h2>
                </header>
                <article>
                    <p>{{ message }}</p>

                </article>
                {% endif %}
            </section>


{% endblock %}