{% extends "tovarsview/base.html" %}

{% block title %}<title>Товары, выбранные пользователем {{ user.username }}.</title>{% endblock %}
{% block description %}<meta name="description" content="Список товаров, выбранных пользователем {{ user.username }}. По сути показана корзина с товарами зарегистрированного пользователя." />{% endblock %}
{% block keyword %}<meta name="keywords" content="товары" />{% endblock %}

{% block page %}

                <!-- box -->
                <section>
                    <header class="main">
                        <h1>Привет {{ user.username }}</h1>
                    </header>

                </section>



            <section>
			<header class="major">
				<h2>Ты отложил следующие товары:</h2>
			</header>
			<div class="posts" itemscope itemtype="https://schema.org/Product">

                {% for row in his_tovars %}

                    {% include "tovarsview/box_mansory_delete.html" %}

                {% endfor %}

            </div>
            </section>


{% endblock %}