{% extends "tovarsview/base.html" %}

{% block title %}<title>Мониторы производителя {{ this_vendor.name }}.</title>{% endblock %}

	{% block description %}<meta name="description" content="Телевизоры и мониторы в автомобиль фирмы {{ this_vendor.name }} можно купить в Москве через российские интернет-магазины по ссылкам из статьи" />{% endblock %}
	{% block keyword %}<meta name="keywords" content="монитор, автомобиль, {{ this_vendor.name }}, телевизор" />{% endblock %}


{% block page %}

            {% include "tovarsview/box.html" %}



            <section>
			<header class="major">
				<h2>Товары производителя {{ this_vendor.name }}. Выбираем:</h2>
			</header>
			<div class="posts" itemscope itemtype="https://schema.org/Product">

                {% for row in his_tovars %}

                    {% include "tovarsview/box_mansory.html" %}

                {% endfor %}

            </div>
            </section>

{% endblock %}